################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/FocusMaskTestImages
/CollimationCircles/appstate.json
/LibVLCSharp.Avalonia.Unofficial/obj
/LibVLCSharp.Avalonia.Unofficial/bin/Debug/net6.0
/LibVLCSharp.Avalonia.Unofficial/bin/Debug/net7.0
