################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/artifacts
/FocusMaskTestImages
/appstate.json
/CollimationCircles/appstate.json
/LibVLCSharp.Avalonia.Unofficial/obj
/LibVLCSharp.Avalonia.Unofficial/bin/Debug/net6.0
/LibVLCSharp.Avalonia.Unofficial/bin/Debug/net7.0
/CollimationCirclesFeatures/bin
/CollimationCirclesFeatures/obj
/CollimationCirclesFeatures/bin/Debug/net8.0
/CollimationCirclesFeatures/bin/Release/net8.0
/CollimationCirclesFeatures/bin/Debug/net10.0
/CollimationCirclesFeatures/bin/Release/net10.0
/DxWebCam/bin
/DxWebCam/obj
/DxWebCam/bin/Debug/net10.0
/DxWebCam/bin/Release/net10.0
