<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="logfile" xsi:type="File" fileName="CollimationCircles.log" />
    <target name="logconsole" xsi:type="Console" />
    <target name="memory" xsi:type="Memory" layout="${longdate}: ${level:uppercase=true} ${message:withexception=true}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Error" writeTo="logconsole" />
    <logger name="*" minlevel="Error" writeTo="logfile" />
    <logger name="*" minlevel="Info" writeTo="memory" />
  </rules>
</nlog>